{# Shared head assets: base.html and the standalone login page pull the same ones. #}
<link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 22a7 7 0 0 0 7-7c0-5-7-13-7-13S5 10 5 15a7 7 0 0 0 7 7Z' fill='%232e7d4f'/%3E%3C/svg%3E">
<link rel="stylesheet" href="{{ url_for('web.static', filename='css/base.css') }}">
<link rel="stylesheet" href="{{ url_for('web.static', filename='css/components.css') }}">
<link rel="stylesheet" href="{{ url_for('web.static', filename='css/controls.css') }}">
<link rel="stylesheet" href="{{ url_for('web.static', filename='css/panel.css') }}">
